.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: blue;
}
.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -10px;
  margin-bottom: -20px;
  padding: 20px;
}
.movieListItem {
  font-weight: 700;
  width: calc((100% / 7) - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
}

.movieListItemLink {
  color: blueviolet;
}
.posterImg {
  width: 100%;
  margin-bottom: 10px;
}
