.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: blue;
}
.movieList {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 20px;
}
.movieListItem {
  font-weight: 700;
}
.movieListItem:not(:last-child) {
  margin-bottom: 10px;
}
.movieListItemLink {
  color: blueviolet;
}
.posterImg {
  width: 200px;
  margin-bottom: 10px;
}
